/* ==== Config ==== */

/*
Feel free to change these values to whatever you want, as long
as they use the correct format.
*/

* {
  /* Accent color */
  --natsumi-accent-color: var(--zen-primary-color);
  --natsumi-pages-accent-color: #a0d490;

  /* Natsumi Glass Effect */
  --glass-blur-radius: 20px;
  --glass-shadow-size: 10px;
  --glass-shadow-opacity: 75%;

  /* Natsumi URLbar appear animations */
  --urlbar-appear-animation-duration: 0.25s;
  --urlbar-results-animation-duration: 0.5s;
  --urlbar-individual-result-animation-duration: 0.75s;
  --urlbar-individual-result-animation-delay: 0.05s;
  --urlbar-individual-result-animation-delay-offset: 0.05s;
  --urlbar-individual-result-expand-size: 1.05;

  /* Natsumi border reload animations */
  --reload-border-animation-duration: 0.2s;
  --reload-border-animation-rotation-duration: 2s;
  --reload-border-animation-exit-duration: 1s;
  --reload-border-margin: 4px;

  /* Natsumi URLbar reload animations */
  --reload-urlbar-animation-duration: 0.2s;
  --reload-urlbar-animation-fadein-duration: 2s;

  /* Container tabs gradient */
  --container-tabs-normal-gradient-width: 25%;
  --container-tabs-expanded-gradient-width: 50%;

  /* Floating Firefox sidebar panels */
  --ff-sidebar-x-offset: 20px;
  --ff-sidebar-y-offset: 20px;

  /* Custom fonts experiment (must be an installed font) */
  --custom-font: 'Nunito';

  /* pdf.js */
  --pdfjs-topbar-max-width: 750px; /* use calc(100% - 10px) for max width */

  /* FF home */
  --home-background-url: url('');
}